# Created by https://www.gitignore.io/api/godot,visualstudiocode

### Godot ###
.import/
.mono/
export_presets.cfg

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

### Binaries ###
*.exe

# End of https://www.gitignore.io/api/godot,visualstudiocode
